
body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #E5E7EB;
}

.header {
    padding: 0px 250px 40px 250px;
    display:flex;
    flex-direction: column;
}

.header, .footer {
    display: flex;
    padding: 16px;
    background-color: #1F2937;
}

.logos-and-links{
    display:flex;
    align-items: flex-end;
    justify-content:space-between;
    margin: 0 40px;
    margin-bottom: 10px;
}

.logo {
    font-size: 24px;
    color:#F9FAF8 ;
}

ul {
    list-style-type: none;
    padding : 0 ;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color:inherit;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 150px;
}

.header-text, h1 {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
    flex-grow: 3;
}

.header-text  p, ul {
    font-size: 18px;
    color: #E5E7EB;
}

.header-content img{
    width: 400px;
    border-radius:50px 15px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.information-cards{
    display:flex;
    flex-direction: column;
    background-color: #F9FAF8;
    align-items: center;
    padding-bottom: 75px;
}

h2{
    color: black;
    font-weight: 900;
    font-size: 36px;
}

.card-space{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}

.card-space img {
    height: 180px;
    border:4px solid #3882F6;
    border-radius:50px;
}

.card p {
    text-align: center;
    color: #1F2937;
    font-weight: 100;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}

.quote h3{
    text-align: center;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quote p {
    text-align: end;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.sign-up-prompt {
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius:8px;
    margin: 42px 100px;
}

.prompt-text{
    overflow: auto;
}

.prompt-text , p{
    color: #E5E7EB;
}

.sign-up-prompt button {
    border: 2px solid white;
}

.footer
{
    justify-content: center;
    color:#eee;
}




